{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% load bootstrap4 %}
{% load static %}

{% block title %}Device Group: {{object.name}}{% endblock %}

{% block content %}
    <h3>{{object.name}}</h3>
    <p>Organization: {{object.owner.name}}</p>
    
    {% if inbound_integration %}
    <div class="alert alert-info">
        <div class="d-flex align-items-center">
            <i class="fas fa-info-circle me-2"></i>
            <div>
                <strong>Default Device Group for:</strong> 
                <a href="{% url 'inbound_integration_configuration_update' inbound_integration.id %}" class="alert-link">
                    {{ inbound_integration.name|default:inbound_integration.type.name }}
                </a>
                <br>
                <small>This device group is used as the default for the {{ inbound_integration.type.name }} integration configuration.</small>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="col-md-6">
            <h2>Devices in Group</h2>
        </div>
        <div class="col-md-6 d-flex justify-content-end mb-1">
            <a class="btn btn-primary" href="{% url 'device_group_management_update' object.id %}" role="button">Manage Group</a>
            <a class="btn btn-primary" href="{% url 'device_group_list' %}" role="button">Close</a>
        </div>
    </div>


    {% render_table table %}
    <script type="text/javascript"
            id="row-click-handler"
            data-table-id="device-table"
            data-row-attribute="device-id"
            data-url="{{ base_url }}"
            src="{% static 'website/js/cdip.custom.js' %}">
    </script>
{% endblock %}