{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% load bootstrap4 %}
{% load static %}

{% block title %}Device Group: {{object.name}}{% endblock %}

{% block content %}
    <h3>{{object.name}}</h3>
    <p>Organization: {{object.owner.name}}</p>

    <div class="row">
        <div class="col-md-9">
            <h2>Devices in Group</h2>
        </div>
        <div class="col-md-3">
    <a class="btn btn-primary" href="{% url 'device_group_update' object.id %}" role="button">Edit Group</a>
    <a class="btn btn-primary" href="{% url 'device_group_management_update' object.id %}" role="button">Manage Devices</a>
    <a class="btn btn-primary" href="{% url 'device_group_list' %}" role="button">Close</a>
        </div>
    </div>


    {% render_table table %}
    <script type="text/javascript"
            id="row-click-handler"
            data-table-id="device-table"
            data-row-attribute="device-id"
            data-url="{{ base_url }}"
            src="{% static 'website/js/cdip.custom.js' %}">
    </script>
{% endblock %}