{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% load bootstrap4 %}
{% load static %}

{% block title %}Device Group List{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-9 d-flex align-items-end">
            <h2>Device Groups</h2>
        </div>
        <div class="col-md-3 d-flex justify-content-end">
            <a class="mb-2 btn btn-primary {% if not perms.integrations.add_devicegroup %} disabled {% endif %}"
               href="{% url 'device_group_add' %}" role="button">Add Device Group</a>
        </div>
    </div>
    {% if filter %}
    <div>
        <form action="" method="get" class="form form-inline">
            {% bootstrap_form filter.form layout='inline' form_group_class='mr-2' %}
            {% bootstrap_button 'Filter' extra_classes='' %}
        </form>
    </div>
    {% endif %}
    {% render_table table %}
    <script type="text/javascript"
            id="row-click-handler"
            data-table-id="device-group-table"
            data-row-attribute="device-group-id"
            data-url="{{ base_url }}"
            src="{% static 'website/js/cdip.custom.js' %}">
    </script>

{% endblock %}