{% extends "base.html" %}

{% block title %}Outbound Integration Types{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-9 d-flex align-items-end">
            <h2>Outbound Integration Types</h2>
        </div>
        <div class="col-md-3 d-flex justify-content-end">
            <a class="mb-2 btn btn-primary {% if not perms.integrations.add_outboundintegrationtype %} disabled {% endif %}" href="{% url 'outbound_integration_type_add' %}" role="button">Add Type</a>
        </div>
    </div>
    <div class="row">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Slug</th>
              <th scope="col">Description</th>
            </tr>
          </thead>
          <tbody>
            {% for integration in integrations %}
              <tr>
                  <td>
                    <a href="{% url 'outbound_integration_type_detail' integration.id %}">
                        {{ integration.name }}
                    </a>
                  </td>
                  <td>
                        {{ integration.slug }}
                  </td>
                  <td>
                        {{ integration.description }}
                  </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
{% endblock %}