{% extends "base.html" %}

{% block title %}Integration: {{module.id}}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-1 pt-1">
            <a class="btn btn-primary btn-sm text-white align-middle my-2 mr-2"
                   href="{% url 'outbound_integration_configuration_list' %}" role="button">
                    <
            </a>
        </div>
        <div class="col-6">
            <h3>{{module.name}}</h3>
            <h4>Outbound Integration</h4>
        </div>
        <div class="col-sm">
            <a class="btn btn-primary my-2" href="{% url 'outbound_integration_configuration_update' module.id %}" role="button">Edit</a>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-6 offset-1">
            <p>
                <b>Type: </b><a href="{% url 'outbound_integration_type_detail' module.type.id %}"> {{module.type.name}} </a><br/>
                <b>ID: </b>{{module.id}}<br/>
                <b>Owner: </b><a href="{% url 'organizations_detail' module.owner.id %}"> {{module.owner.name}} </a><br/>
                <b>Endpoint: </b>{{module.endpoint}}<br/>
                <b>State: </b>{<pre>{{ module.state | pprint }}</pre><br/>
                <b>Enabled: </b>{{module.enabled}}<br/>
            </p>
        </div>
    </div>

{% endblock %}