apiVersion: v1
kind: Secret
metadata:
  name: cdip-secrets
  namespace: "${KUBERNETES_NAMESPACE}"
type: Opaque
data:
  AIRFLOW__CORE__SQL_ALCHEMY_CONN: "a base64 encoded string without the quotes"
  airflow.sql_alchemy_conn: "a base64 encoded string without the quotes"
  DB_USER: "a base64 encoded string without the quotes"
  DB_PASSWORD: "a base64 encoded string without the quotes"
  FERNET_KEYS: "a base64 encoded string without the quotes"
  GIT_SYNC_USERNAME: "a base64 encoded string without the quotes"
  GIT_SYNC_PASSWORD: "a base64 encoded string without the quotes"
  KEYCLOAK_CLIENT_SECRET: "a base64 encoded string without the quotes"
  KEYCLOAK_ADMIN_CLIENT_SECRET: "a base64 encoded string without the quotes"

---
apiVersion: v1
data:
  known_hosts: "a base64 encoded string without the quotes"
  ssh: "a base64 encoded string without the quotes"
kind: Secret
metadata:
  name: git-repo-creds
  namespace: "${KUBERNETES_NAMESPACE}"
type: Opaque

---
apiVersion: v1
data:
  tls.crt: "a base64 encoded string without the quotes"
  tls.key: "a base64 encoded string without the quotes"
kind: Secret
metadata:
  name: ingress-tls
  namespace: "${KUBERNETES_NAMESPACE}"
type: kubernetes.io/tls


# metrics creds secret for "${KUBERNETES_NAMESPACE}"
---
apiVersion: v1
data:
  credentials_json: "a base64 encoded string without the quotes"
kind: Secret
metadata:
  name: metrics-writer-credentials
  namespace: "${KUBERNETES_NAMESPACE}"
type: Opaque

# metrics creds secret for metrics namespace
---
apiVersion: v1
data:
  credentials_json: "a base64 encoded string without the quotes"
kind: Secret
metadata:
  name: metrics-writer-credentials
  namespace: metrics
type: Opaque
