{% extends "base.html" %}

{% block title %}Organization: {{module.name}}{% endblock %}

{% block content %}

<h3>Organization: {{organization.name}}</h3>
<p>{{organization.description}}</p>
<div class="row">
    <div class="col-md-9">
        <h2>Accounts</h2>
    </div>
    <div class="col-md-3">
        <a class="btn btn-primary {% if not perms.organizations.change_organization or not is_owner %} disabled {% endif %}"
           href="{% url 'organizations_update' organization.id %}" role="button">Edit</a>
        <a class="btn btn-primary {% if not is_owner %} disabled {% endif %}"
           href="{% url 'account_add' organization.id%}" role="button">Add Member</a>
    </div>
</div>
<div class="row">

    <div class="col-md-12">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">email</th>
                <th scope="col">Role</th>
            </tr>
            </thead>
            <tbody>
            {% for user, role in accounts %}
            <tr>
                <td>
                    <a href="{% url 'account_profile_update' organization.id user.id %}">
                        {{ user.last_name }}, {{ user.first_name }}
                    </a>
                </td>
                <td>
                    {{ user.email }}
                </td>
                <td>
                    {{ role }}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}