{% extends "base.html" %}

{% block title %}Devices{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-9">
            <h2>Devices</h2>
        </div>
    </div>
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">External ID</th>
                <th scope="col">Owner</th>
                <th scope="col">Type</th>
                <th scope="col">Created</th>
            </tr>
            </thead>
            <tbody>
            {% for device in devices %}
            <tr onclick="window.location='{% url 'device_detail' device.id %}'">
                <td>{{ device.external_id }}</td>
                <td>
                    <a href="{% url 'organizations_detail' device.inbound_configuration.owner.id %}">
                        {{ device.inbound_configuration.owner.name }}
                    </a>
                </td>
                <td>
                    <a href="{% url 'inbound_integration_type_detail' device.inbound_configuration.type.id %}">
                        {{ device.inbound_configuration.type.name }}
                    </a>
                </td>
                <td>{{ device.created_at }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}