{% extends "base.html" %}
{% load bootstrap4 %}

{% block title %}Device Group List{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-9">
            <h2>Device Groups</h2>
        </div>
        <div class="col-lg-3">
            {% if perms.core.admin %}
                <a class="btn btn-primary" href="{% url 'device_group_add' %}" role="button">+ Add</a>
            {% endif %}
        </div>
    </div>
    {% if filter %}
    <div>
        <form action="" method="get" class="form form-inline">
            {% bootstrap_form filter.form layout='inline' %}
            {% bootstrap_button 'filter' %}
        </form>
    </div>
    {% endif %}
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Owner</th>
                    <th scope="col">Device Count</th>
                    <th scope="col">Created</th>
                </tr>
            </thead>
            <tbody>
                 {% for device_group in device_groups %}
                    <tr onclick="window.location='{% url 'device_group_detail' device_group.id %}'">
                        <td>{{ device_group.name }}</td>
                        <td>
                            <a href="{% url 'organizations_detail' device_group.owner.id %}">
                                {{ device_group.owner.name }}
                            </a>
                        </td>
                        <td>{{ device_group.devices.all.count }}</td>
                        <td>{{ device_group.created_at }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}