{% extends "base.html" %}

{% block title %}Device Group: {{device_group.name}}{% endblock %}

{% block content %}

    <h1>{{device_group.name}}</h1>
    <p>{{device_group.owner.name}}</p>
    <a class="btn btn-primary" href="{% url 'device_group_update' device_group.id %}" role="button">Update</a>
    <a class="btn btn-primary" href="{% url 'device_group_management_update' device_group.id %}" role="button">Manage Devices</a>
    <a class="btn btn-primary" href="{% url 'device_group_list' %}" role="button">Back</a>
{% endblock %}