{% extends "base.html" %}
{% load bootstrap4 %}

{% block title %}Device State List{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-9">
            <h2>Device States</h2>
        </div>
    </div>
    {% if filter %}
    <div>
        <form action="" method="get" class="form form-inline">
            {% bootstrap_form filter.form layout='inline' form_group_class='spacing-wrapper' %}
            {% bootstrap_button 'filter' extra_classes='spacing-wrapper' %}
        </form>
    </div>
    {% endif %}
    <div class="row">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">External id</th>
                    <th scope="col">Owner</th>
                    <th scope="col">Type</th>
                    <th scope="col">State</th>
                    <th scope="col">Created at</th>
                </tr>
            </thead>
            <tbody>
                 {% for device_state in device_states %}
                    <tr onclick="window.location='{% url 'device_detail' device_state.device.id %}'">
                        <td>{{ device_state.device.external_id }}</td>
                        <td>{{ device_state.device.inbound_configuration.owner.name }}</td>
                        <td>{{ device_state.device.inbound_configuration.type.name }}</td>
                        <td>{{ device_state.state }}</td>
                        <td>{{ device_state.created_at }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}