{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% load bootstrap4 %}

{% block title %}Device State List{% endblock %}

{% block content %}
    {% if filter %}
    <div class="row">
        <div class="col-lg-9">
            <h2>Device States</h2>
        </div>
    </div>
    <div>
        <form action="" method="get" class="form form-inline">
            {% bootstrap_form filter.form layout='inline' %}
            {% bootstrap_button 'filter' %}
        </form>
    </div>
    {% endif %}
    {% render_table table %}

{% endblock %}