{% extends "base.html" %}

{% block title %}Inbound Integration Configurations{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-9">
            <h2>Inbound Integration Configuration</h2>
        </div>
        {% if perms.core.admin %}
            <a class="btn btn-primary" href="{% url 'inbound_integration_configuration_add' %}" role="button">+ Add</a>
        {% endif %}
    </div>
    <div class="row">
        <ul>
            {% for integration in integrations %}
                <li>
                    <a href="{% url 'inbound_integration_configuration_detail' integration.id %}">
                        {% if integration.name %}
                            {{ integration.name }}
                        {% else %}
                            {{ integration.type.name }} - {{ integration.owner.name }}
                        {% endif %}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}