{% extends "base.html" %}

{% block title %}Inbound Integration Types{% endblock %}

{% block content %}

    <h2>Inbound Integration Types</h2>
        <a class="btn btn-primary" href="{% url 'inbound_integration_type_add' %}" role="button">+ Add</a>
        <ul>
            {% for integration in integrations %}
                <li>
                    <a href="{% url 'inbound_integration_type_detail' integration.id %}">
                        {{ integration.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>

{% endblock %}