{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% load bootstrap4 %}
{% load static %}

{% block title %}Outbound Integration Configurations{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-9">
            <h2>Outbound Integration Configuration</h2>
        </div>
        <a class="btn btn-primary {% if not perms.integrations.add_outboundintegrationconfiguration %} disabled {% endif %}"
               href="{% url 'outbound_integration_configuration_add' %}" role="button">+ Add</a>
    </div>
    {% render_table table %}
    <script type="text/javascript"
            id="row-click-handler"
            data-table-id="outbound-config-table"
            data-row-attribute="outbound-config-id"
            data-url="{{ base_url }}"
            src="{% static 'website/js/cdip.custom.js' %}">
    </script>

{% endblock %}