{% load i18n %}

<div id="sidebar">

    <ul class="list-unstyled components">
        <h5>{% trans 'Integrations' %}</h5>
        <li>
            <a href="{% url 'inbound_integration_type_list' %}">
                {% trans 'Inbound Types' %}
            </a>
            <a href="{% url 'inbound_integration_configuration_list' %}">
                {% trans 'Inbound Integrations' %}
            </a>
            <a href="{% url 'outbound_integration_type_list' %}">
                {% trans 'Outbound Types' %}
            </a>
            <a href="{% url 'outbound_integration_configuration_list' %}">
                {% trans 'Outbound Integrations' %}
            </a>
            <a href="{% url 'bridge_integration_list' %}">
                {% trans 'Bridge Integrations' %}
            </a>
            <a href="{% url 'device_list' %}">
                {% trans 'Devices' %}
            </a>
            <a href="{% url 'device_group_list' %}">
                {% trans 'Device Groups' %}
            </a>
        </li>

        <h5>{% trans 'Reporting' %}</h5>
        <li>
            <a href="{% url 'device_state_list' %}">
                {% trans 'Device States' %}
            </a>
        </li>


        <h5>{% trans 'Administration' %}</h5>
        <li>
            <a href="{% url 'organizations_list' %}">
                {% trans 'Organization Information' %}
            </a>
            <a href="{% url 'account_list' %}">
                {% trans 'Accounts Information' %}
            </a>
            <a href="{% url 'client_list' %}">
                {% trans 'Client Information' %}
            </a>
        </li>

    </ul>
</div>