{% load i18n %}

<div id="sidebar">
    <div class="sidebar-header">
        <h3>{% trans 'Menu' %}</h3>
    </div>
    <ul class="list-unstyled components">
        {% if perms.core.admin %}
            <h5>{% trans 'Devices' %}</h5>
            <li>
                <a href="{% url 'device_list' %}">
                    {% trans 'Devices' %}
                </a>
            </li>
        {% endif %}
        {% if perms.core.admin %}
            <h5>{% trans 'Device State' %}</h5>
            <li>
                <a href="{% url 'device_state_list' %}">
                    {% trans 'Device States' %}
                </a>
            </li>
        {% endif %}
        {% if perms.core.admin %}
            <h5>{% trans 'Inbound Integrations' %}</h5>
            <li>
                <a href="{% url 'inbound_integration_type_list' %}">
                    {% trans 'Type Descriptions' %}
                </a>
                <a href="{% url 'inbound_integration_configuration_list' %}">
                    {% trans 'Inbound Integrations' %}
                </a>
                <a href="{% url 'inbound_integration_configuration_add' %}">
                    {% trans 'Configure Integration' %}
                </a>
            </li>
        {% endif %}
        {% if perms.core.admin %}
            <h5>{% trans 'Outbound Integrations' %}</h5>
            <li>
                <a href="{% url 'outbound_integration_type_list' %}">
                    {% trans 'Type Descriptions' %}
                </a>
                <a href="{% url 'outbound_integration_configuration_list' %}">
                    {% trans 'Outbound Integrations' %}
                </a>
                <a href="{% url 'outbound_integration_configuration_add' %}">
                    {% trans 'Configure Integration' %}
                </a>
            </li>
        {% endif %}
        {% if perms.core.admin %}
            <h5>{% trans 'Organizations' %}</h5>
            <li>
                <a href="{% url 'organizations_list' %}">
                    {% trans 'Organization Information' %}
                </a>
            </li>
        {% endif %}
        {% if perms.core.admin %}
            <h5>{% trans 'Accounts' %}</h5>
            <li>
                <a href="{% url 'account_list' %}">
                    {% trans 'Accounts Information' %}
                </a>
                <a href="{% url 'account_add' %}">
                    {% trans 'Add Account' %}
                </a>
            </li>
        {% endif %}
        {% if perms.core.admin %}
            <h5>{% trans 'Clients' %}</h5>
            <li>
                <a href="{% url 'client_list' %}">
                    {% trans 'Client Information' %}
                </a>
                <a href="{% url 'client_add' %}">
                    {% trans 'Add Client' %}
                </a>
            </li>
        {% endif %}
    </ul>
</div>