{% extends "base.html" %}

{% block title %}Clients{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-9">
            <h2>Clients</h2>
        </div>
        <div class="col-md-3">
            <a class="btn btn-primary" href="{% url 'client_add' %}" role="button">+ Add</a>
        </div>
    </div>
    <div class="row">
        <ul>
            {% for client in module %}
                <li>
                    <a href="{% url 'client_detail' client.id %}">
                         {{ client.clientId }} - {{ client.id }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}