{% extends "base.html" %}

{% block title %}Client: {{client.name}}{% endblock %}

{% block content %}

    <h1>{{client.clientId}}</h1>
    <p>Client ID: {{client.id}}</p>
    <p>Root Url: {{ client.rootUrl }}</p>
    {% if profile %}
        <p>{{ profile.type__name }}</p>
        <pre>{{ organizations }}</pre>
        <a class="btn btn-primary" href="{% url 'client_profile_update' client.id %}" role="button">Update Profile</a>
    {% else %}
        <a class="btn btn-primary" href="{% url 'client_profile_add' client.id %}" role="button">Add Profile</a>
    {% endif %}
    <a class="btn btn-primary" href="{% url 'client_update' client.id %}" role="button">Update</a>

{% endblock %}