{% extends "base.html" %}

{% block title %}Client: {{client.name}}{% endblock %}

{% block content %}

    <h1>{{client.name}}</h1>
    <p>Client ID: {{client.clientId}}</p>
    <p>Root Url: {{ client.rootUrl }}</p>
    {% if profile %}
        <p>Type: {{ profile.type }}</p>
        <pre>Organizations: {{ organizations }}</pre>
        <a class="btn btn-primary" href="{% url 'client_profile_update' client.clientId %}" role="button">Update Profile</a>
    {% else %}
        <a class="btn btn-primary" href="{% url 'client_profile_add' client.clientId %}" role="button">Add Profile</a>
    {% endif %}
    <a class="btn btn-primary" href="{% url 'client_update' client.id %}" role="button">Update</a>
    <a class="btn btn-primary" href="{% url 'client_secret' client.id %}" role="button">Get Credentials</a>

{% endblock %}