# Create your own local copy of this file and give it a name ending in '.auto.tfvars'
#   Ex. mylocaldev.auto.tfvars
# 
# Then follow the cues here for each variable.
# 
# This will allow you to run the app in kubernetes locally, but with your own
# source code.

# Set this path to the root of your Django projects (where you have manage.py)
#das_server_source_path = "/home/someuser/padas/cdip/cdip_admin/cdip_admin"

# Set this to a path where the database will store it's files.
#local_database_storage = "/home/someuser/cdip-localdata"

# Set this to a folder where the Django app will store user uploads
#local_media_storage    = "/home/someuser/cdip-localmedia"
