{% extends "base.html" %}

{% block title %}Accounts{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-9">
            <h2>Accounts</h2>
        </div>
        <a class="btn btn-primary" href="{% url 'account_add' %}" role="button">+ Add</a>
    </div>
    <div class="row">
        <ul>
            {% for user in accounts %}
                <li>
                    {% if user.username %}
                        <a href="{% url 'account_detail' user.username %}">
                            {{ user.last_name }}, {{ user.first_name }} - {{ user.email }}
                        </a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}