{% extends "base.html" %}

{% block title %}Accounts{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-9">
            <h2>User Accounts</h2>
        </div>
    </div>
    <div class="row">
        <ul>
            {% for user in accounts %}
                <li>
                    <a href="{% url 'account_detail' user.id %}">
                        {{ user.last_name }}, {{ user.first_name }} - {{ user.email }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}