{% extends "base.html" %}

{% block title %}Organizations{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-8">
            <h2>User Organizations</h2>
        </div>
        <div class="col-md-4">
        <a class="btn btn-primary {% if not perms.organizations.add_organization %} disabled {% endif %}"
           href="{% url 'organizations_add' %}" role="button">Add an Organization</a>
        </div>
    </div>
    <div class="row">
        <ul>
            {% for organization in organizations %}
                <li>
                    <a href="{% url 'organizations_detail' organization.id %}">
                        {{ organization.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}